@media (min-width:450px) {
#painel-box{
    width: 100%;
}
.fundo-p{
    display: none;
}
.fundo-g{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 10px;
    margin: auto;
    z-index: -1;
}
.temp-info{
    justify-content: space-evenly;
    width: 100%;
    max-width: 90%;
}
.temp-info>img{
   align-self: center;
   width: 25%;
   height: auto;
   
}
.temp-info>p {
    font-size:clamp(5rem, 10.5vw,7rem);
    font-weight: 700;
}
aside{
    width: 90%;
    max-width: 730px;
}

    
}
@media (min-width:1000px) {
    body{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        min-height: 100vh;
    }
    header{
        padding: 20px 40px;
    }
    #units-but{
        width: 120px;
        padding: 0 15px;
    }
    h1{
        padding-top: 10px;
        width: 80%;
    }
    form{
        flex-direction: row;
        justify-content: center;
        gap: 15px;
        max-width: none;
    }
    form input{
        width: 35%;
        min-width:300px;
        height: 40px;
        margin: auto;
    }
    #search-but{
        width: 15%;
        height: 40px;
        max-width: 150px;

    }
    
    main{
        flex-direction: row;
        align-items:start;
        padding:15px;
        min-height: fit-content;
    }
    .box-section{
        display: flex;
        height: 100%;
        gap: 10px;
        width: 90%;
        flex-direction: column;
    }
    #painel-box{
        padding: 0;
        width: 100%;
        /* margin: 0 10px; */
    }
    .fundo-p{
        display: none;
    }
    .fundo-g{
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        object-fit:cover;
        border-radius: 10px;
        margin: auto;
        z-index: -1;
    }
    .painel-info{
        flex-direction: row;
        justify-content: space-around;
        padding: 10px 15px;
    }
    .texto-info{
    }
    .temp-info>img{
        width: 30%;
        height: 30%;
    }
    .temp-info>p {
        font-size:clamp(4rem, 7vw,7.5rem);
        font-weight: 700;
    }
    #info-box{
        flex-wrap: nowrap;
        gap: 20px;
    }
    #info-box>div{
        padding: 15px;
        min-width: 155px;
        min-height: 130px;
    }
    #info-box .p-info-texto{
        font-size: 1rem;
     }

    #info-box .p-info-unid{
        font-size:clamp(1.3em,2.5vw,3em);
        font-weight: 300;
    }
    #daily-box{
    }
    .div-daily{
        flex-wrap: nowrap;
    }
    .week-days-info {
        width: auto;
    }
    aside h3{
        font-size: clamp(1em, 1.5vw, 1.5em);
    }
    aside{
        margin:0;
        max-width: 500px;
        min-width: 250px;
        min-height: 500px;
        height: 690px;
    }
    #hourly-select{
        height: 35px;
    }
    footer{
        display: block;
        height: 5vh;
        width: 100vw;
    }

}
@media (min-width:1500px) {
    header>nav{
        right: 2%;
        width: 400px;
    }
    aside{
        height:850px;
    }
    
}