@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
body{
    min-height: 100vh;
    min-width: 375px;
    background: hsl(243, 96%, 9%);
    color: white;
    font-family:"DM Sans",sans-serif;
    
}
header{
    width:100%;
    min-height: 250px;
    height: 30vh;
}
i{
    display: inline-block;
    width: 150px;
    margin: 15px 10px;
}
header #units-but{
    display: flex;
    float: right;
    justify-content:space-evenly;
    width: 100px;
    padding: 5px;
    margin: 15px 10px;
    border-radius: 10px;
    border: none;
    background:hsl(243, 23%, 30%);
}
header > nav{
    display: none;
}
header h1{
    font-size:3rem;
    width: 80%;
    margin:auto;
    line-height: 1.1;
    text-align: center;
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 700;
}
/* NAV======================= */
#search-box{
    min-height: 100px;
    height: 10vh;
}
#search-box form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}
#search-box form > *{
    padding: 7px;
    border-radius: 10px;
    border: none;
    margin: 5px 0 ;
}
#search-box input  {
    background: hsl(243, 23%, 30%);

}
#search-box button {
    background: hsl(233, 67%, 56%);
}
/* MAIN=========================== */
main{
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    gap: 20px;
    width: 100%;
    /* height: 60vh; */
}
#painel-box{
    position: relative;
    width:100%;
    margin:5px auto;
}
#painel-box > .fundo-p{
    width:90%;
    max-width: 375px;
    height: 100%;
    margin: auto;

}
#painel-box > .painel-info{
    position: absolute;
    top: 30px;
    text-align: center;
    width: 100%;
    height: 100%;
}
.painel-info h3{
    font-size: 1.5em;
    /* font: ; */
}
.painel-info >p{
    color:rgba(255, 255, 255, 0.63);
}
.temp-info{
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 20px;
    width: 80%;
    max-width: 350px;
}
.temp-info > img{
    display: inline-block;
    width: 45%;
    height: 45%;
}
.temp-info > p{
    font-size: 6em;
    display: inline-block;
    font-weight: 500;
}
#info-box{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: auto;
    width:90%;
    justify-content: space-evenly;
    /* align-content: stretch; */
    /* height: 60%; */
}
#info-box > *{
    background:hsl(243, 23%, 30%);  
    width: 45%;
    height: 80px;
    /* height: 60%; */
    padding: 10px 20px;
    border-radius: 10px;
    /* box-sizing: border-box; */
}
/* Aside========================= */
#daily-box{
    height: 50vh;
    border: 1px solid white;
}
.div-daily{
    width: 90%;
    display: flex;
    margin: auto;
    gap: 15px;
    flex-wrap: wrap;
}
.week-days-info{
    padding: 10px;
    border-radius: 10px;
    background-color:hsl(243, 23%, 30%) ;
    width: 25%;
    /* width: 10รง%; */
}

aside{
    height: 45vh;
}
footer{
    height: 3vh;
}