@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
:root{
    --bordeColor: hsla(240, 18%, 48%, 0.765);
}



body {
    min-height: 100vh;
    min-width: 375px;
    background: hsl(243, 96%, 9%);
    color: white;
    font-family: "DM Sans", sans-serif;

}
body > *{
    width: 95%;
  margin: auto; 
}
header {
    min-height: 250px;
    height: 30vh;
}

i {
    display: inline-block;
    width: 150px;
    margin: 15px 10px;
}

header #units-but {
    display: flex;
    float: right;
    width: 100px;
    margin: 15px 10px;
    border-radius: 10px;
    border: 3px solid hsl(243, 23%, 30%);
    background: hsl(243, 23%, 30%);
}

header #units-but * {
    flex-grow: 1;
    padding: 3px;
}

header>nav {
    display: none;
    position: absolute;
    right: 4%;
    flex-direction: column;
    width: 250px;
    border: 1px solid var(--bordeColor);
    border-radius: 10px;
    padding: 0 10px;
    background-color: hsl(243, 23%, 30%);
    z-index: 2;
}
.onDisplay{
    display: flex;
}
header> nav > *{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
header>nav button{
    background-color: hsl(243, 23%, 30%);
    border-radius: 10px;
    border: none;
    font-weight: 500;
    padding: 5px;
    text-align: left;
}
header>nav button:hover{
    background-color:var(--bordeColor);
}
header nav div{
    border-bottom: 1px solid var(--bordeColor);
}

header nav div p{
    color: hsl(240, 6%, 70%);
    font-size: 0.9em;
}
header h1 {
    font-size: 3rem;
    width: 80%;
    margin: auto;
    line-height: 1.1;
    text-align: center;
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 700;
}

/* NAV======================= */
#search-box {
    min-height: 100px;
    height: 10vh;
}

#search-box form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

#search-box form>* {
    padding: 7px;
    border-radius: 10px;
    border: none;
    margin: 5px 0;
}

#search-box input {
    background: hsl(243, 23%, 30%);

}
#search-opt{
    display: flex;
    flex-direction: column;
    background: hsl(243, 23%, 30%);
}
#search-box #search-but {
    background: hsl(233, 67%, 56%);
}

/* MAIN=========================== */
main {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    gap: 20px;
}

#painel-box {
    position: relative;
    width: 100%;
    min-width: 375px;
    height: 100%;
    margin: 5px auto;
}

#painel-box>.fundo-p {
    width: 92%;
    max-width: 375px;
    margin: auto;

}

#painel-box>.painel-info {
    position: absolute;
    width: 100%;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}
.painel-info h3 {
    font-size: 1.5em;
    /* font: ; */
}

.painel-info>p {
    color: rgba(255, 255, 255, 0.63);
}

.temp-info {
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 20px;
    max-width: 350px;
}

.temp-info>img {
    display: inline;
    width: 45%;
}

.temp-info>p {
    font-size: 6em;
    display: inline-block;
    font-weight: 500;
}

#info-box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: auto;
    justify-content: space-evenly;
}

#info-box>* {
    background: hsl(243, 23%, 30%);
    width: 45%;
    height: 80px;
    padding: 10px 20px;
    border-radius: 10px;
}

/* Aside========================= */
#daily-box {
    height: 50vh;
    border: 1px solid white;
}

.div-daily {
    width: 90%;
    display: flex;
    margin: auto;
    gap: 15px;
    flex-wrap: wrap;
}

.week-days-info {
    padding: 10px;
    border-radius: 10px;
    background-color: hsl(243, 23%, 30%);
    width: 25%;
    /* width: 10รง%; */
}

aside {
    height: 45vh;
}

footer {
    height: 3vh;
}