body{
    min-height: 100vh;
    background: hsl(243, 96%, 9%);
    color: white;
}
body > *{
    border: 1px solid white;
}
header{
    width:100%;
    height: 30%;
}
i{
    display: inline-block;
}
header #units-but{
    display: flex;
    position: absolute;
    justify-content:space-evenly;
    top: 5px;
    right: 10px;
    width: 100px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    background:hsl(243, 23%, 30%);
}

header > *{
    border: 1px solid white;
}
header > nav{
    display: none;
}
header h1{
    font-size: 3.5em;
    width: 80%;
    margin:auto;
    text-align: center;
}
#search-box{
    height: 10vh;
}
#search-box form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}
#search-box form > *{
    padding: 7px;
    border-radius: 10px;
    border: none;
    margin: 5px 0 ;
}
#search-box input  {
    background: hsl(243, 23%, 30%);

}
#search-box button {
    background: hsl(233, 67%, 56%);
}
main{
    height: 60vh;
}
#painel-box{
    height: 50%;
    background-image: url(../assets/images/bg-today-small.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#info-box{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    height: 50%;
}
#info-box > *{
    background:hsl(243, 23%, 30%);
    height: 45%;
    width: 45%;
    border-radius: 10px;
}