@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --bordeColor: hsla(240, 18%, 48%, 0.765);
}



body {
    min-width: 400px;
    background: hsl(243, 96%, 9%);
    color: white;
    font-family: "DM Sans", sans-serif;
}

body>* {
    width: 95%;
    margin: auto;
}
body  *::-webkit-scrollbar{
    border-radius: 10px;
    width: 5px;
    background: var(--bordeColor) ;
}
body  *::-webkit-scrollbar-thumb{
  background-color:hsl(243, 23%, 30%);
}
header {
    min-height: 30vh;
}

i {
    display: inline-block;
    width: 150px;
    margin: 15px 10px;
}

#units-but {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    width: 100px;
    margin: 15px 10px;
    border-radius: 10px;
    border: 3px solid hsl(243, 23%, 30%);
    background: hsl(243, 23%, 30%);
}

header #units-but * {
    flex-grow: 1;
    padding: 3px;
}

header>nav {
    display: none;
    position: absolute;
    right: 4%;
    flex-direction: column;
    width: 250px;
    border: 1px solid var(--bordeColor);
    border-radius: 10px;
    padding: 10px;
    background-color: hsl(243, 23%, 30%);
    z-index: 2;
}

header>nav>* {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

header>nav button {
    background-color: hsl(243, 23%, 30%);
    border-radius: 10px;
    border: none;
    font-weight: 500;
    padding: 5px;
    text-align: left;
}

header>nav button:hover {
    background-color: var(--bordeColor);
}

header nav div {
    border-bottom: 1px solid var(--bordeColor);
}

header nav div p {
    color: hsl(240, 6%, 70%);
    font-size: 0.9em;
}
 h1 {
    /* border: 1px solid white; */
    font-size: 3rem;
    width: 300px;
    margin: auto;
    line-height: 1.1;
    text-align: center;
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 700;
}

/* NAV======================= */
#search-box {
    min-height: 10vh;
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

#search-box form>* {
    padding: 7px;
    border-radius: 10px;
    border: none;
    margin: 5px 0;
}

#search-box input {
    background: hsl(243, 23%, 30%);

}

.search-opt {
    display: none;
    position: absolute;
    top: 50%;
    width: 100%;
    flex-direction: column;
    background: hsl(243, 23%, 30%);
    z-index: 1;
    min-height: 100px;
    max-height: 300px;
    overflow-y: scroll;
}
.search-opt button {
    background-color: hsl(243, 23%, 30%);
    border-radius: 10px;
    padding: 5px;
}

#search-box #search-but {
    background: hsl(233, 67%, 56%);
}

/* MAIN=========================== */
main {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    gap: 20px;
}


#painel-box {
    position: relative;
    width: 100%;
    margin: auto;
    max-width: 400px;
    min-height: 320px;
    
}
.fundo-g{
    display: none;
}
#painel-box>.fundo-p {
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    width: 90%;
    max-width: 400px;
    min-height: 320px;
    z-index: -1;

}

.painel-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 320px;
}

.painel-info h3 {
    font-weight: 700;
    font-size: 1.5em;
}

.painel-info>p {
    color: rgba(255, 255, 255, 0.63);
}

.temp-info {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
    max-width: 350px;
}

.temp-info>img {
    display: inline;
    width: 45%;
}

.temp-info>p {
    padding-top: 15px;
    font-size: 5em;
    display: inline-block;
    font-weight: 500;
}

#info-box {
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    min-height: 20vh;
    gap: 10px;
    margin: auto;
    justify-content: space-evenly;
}

#info-box>* {
    background: hsl(243, 23%, 24%);
    width: 45%;
    height: 80px;
    padding: 10px 20px;
    border-radius: 10px;
}

/* Aside========================= */
#daily-box {
    display: flex;
    flex-direction: column;
    width:90%;
    /* height: fit-content; */
    margin: auto;
}
#daily-box h3{
    padding-bottom: 10px;
    font-weight: 500;
}
.div-daily {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    gap: 15px;
    flex-wrap: wrap;
}
#sigla-semanal{
    text-align: center;
    font-weight: 400;
}
.week-days-info {
    padding: 10px;
    border-radius: 10px;
    background-color: hsl(243, 23%, 24%);
    width: 90px;
    font-size: 0.9rem;
}
.day-max{
    display: inline;
}
.day-min{
    display: inline;
    float: right;
}
aside {
    /* position: relative; */
    width: 90%;
    padding: 0 15px;
    padding-bottom: 15px;
    min-height:600px;
    max-height: 60vh;
    overflow: scroll;
    border-radius: 20px;
    background-color:hsl(243, 23%, 24%) ;
}
aside h3{
    display: inline-block;
    font-size: 1.3em;
    font-weight: 500;
    color: hsl(250, 6%, 84%);
}
#hourly-select{
    display: inline-block;
    float: right;
    background-color: hsl(243, 23%, 30%) ;
    color: black;
    border-radius: 10px;
    padding: 5px;
    border: none;
    color: hsl(250, 6%, 84%);
    font-weight: 500;
}
.nav-select{
    position:sticky;
    padding: 20px 0;
    margin-bottom: 10px;
    background-color: hsl(243, 23%, 24%);
    top: 0%;
}
.box-hourly{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.div-hourly{
    align-items: center;
    justify-content: space-between;
    display: flex;
    background-color: hsl(243, 23%, 30%);
    border-radius: 10px ;
    width: 100%;
    padding: 0 10px;
}
.div-hourly img{
    width: 20%;
}
.div-img-hourly{
    display: flex;
    justify-items: center;
    align-items: center;
}
footer {
    /* padding: 20px; */
    font-size: 0.8em;
    text-align: center;
    height: 3vh;
}
footer p{
    padding: 10px;
}
footer a{
    font-style: italic;
    font-weight: 700;
}

.onDisplay {
    display: flex;
}